@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Poppins:wght@200&display=swap');

body{
    background: #ccc;
}

.site-nav{
    background: rgba(196, 196, 196, 0.6);
    text-align: center;
}

.site-nav li{
    display: inline-block;
    margin: 1rem;
}

.site-nav a{
    color: rgb(33, 34, 34);
    text-decoration: none;
}

.site-nav a:hover{
    color: rgb(40, 40, 255);
}

.title{
    border-bottom: 2px black solid;
    margin: 1rem;
    font-size: 0.7cm;
    text-align: center;
}

header{
    padding: 1rem;
    background-color: rgba(245, 245, 245, 0.5);
}

section{
    padding: 1rem;
}


h1, h2{
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Mukta', sans-serif;
    margin: 2rem;
}

.weather-sec, .winds-sec, .tour-sec{
    background: rgba(170, 170, 170, 0.6);
}

.geo-sec, .snow-sec{
    background: rgba(216, 216, 216, 0.6);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: inherit;
}

figcaption{
    font-style: italic;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
    text-align: center;
}

.footer{
    background-color: rgba(221, 221, 221, 50%);
    color: rgb(85, 85, 85);
}

.footer a{
    color: rgb(54, 54, 54);
}