body {
    background-color: #ccc;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Patua+One&display=swap');

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: #bbb url(../images/bg.jpg);
}

header{
    background: #bbb url(../images/grass.jpg);

}

h1{
    font-family: 'Patua One', cursive;
    margin: 0;
    text-align: center;
}

.site-nav{
    background: rgba(50, 50, 50, .6);
}

.site-nav li{
    display: inline-block;
    margin: 1rem;
}

.site-nav a{
    color: white;
}

.bubba{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

section{
    padding: 1rem;
}

.services{
    background: #ccc;
    margin: 1rem;
    border-radius: 2rem;
}

h2{
    text-align: center;
}

.services h2{
    border-bottom: #555 solid;
    padding-bottom: .2rem;
}

.contact{
    background-color: rgba(50, 50, 50, .7);
    color: hsl(40, 50%, 50%);
}

.contact p{
    text-align: center;
}

.contact a{
    color: hsl(40, 50%, 50%);
}

.site-footer{
    background-color: hsla(50, 30%, 0%, .75);
    padding: 1rem;
    color: rgb(170, 150, 150);
}