body{
    background-color: #ebebeb;
    margin: 0;
}

body, ::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: #444444;
    color: #ebebeb;
    font-size: 1.1rem;
    padding: 10px 15px;
}

button:hover{
    background-color: #7e7e7e;
    color: #2c2c2c;
    transition: 0.2s;
}

input, label, button, textarea{
    border: none;
    display: block;
    margin: 0.5rem;
}

input, label, textarea{
width: 96%;
}

label{
    color: #3f3f3f;
    margin-bottom: 1px
}

input[type=text], input[type=email], input[type=tel], textarea{
    background-color: #bdbdbd;
    padding: 10px;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus{
    border: 2px solid #7c7c7c;
    outline: none;
}

::placeholder{
    color: #ebebeb;
}
