@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body{
    margin: 0;
}

header{
    background-color:#c5bcab;
    border-bottom: 1px solid #6d675c;
}

html{
    background-color:#F2E9D8;
}

h1{
    color: #212A32;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    margin-left: 0.5rem;
}

h2{
    color: #212A32;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-links{
    color: #4C6173;
    display: flex;
}

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar li{
    list-style-type: none;
}

.navbar a{
    color: #4C6173;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.navbar a:hover{
    color: #212A32;
}

.logo{
    height: auto;
    max-width: 5%;
}

p, footer{
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color:#c5bcab;
    border-top: 1px solid #8a8375;
    font-size: 0.8rem;
}

.foot{
    margin: 0.5rem 0.5rem 0rem 0.5rem;
}

.top-text{
    color: #212A32;
    line-height: 1.6;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.units{
    color: #212A32;
    line-height: 1.6;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.bottom-text{
    color: #212A32;
    line-height: 1.6;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.image{
    border-radius: 3%;
    border: 5px solid #8a8375;
    height: auto;
    max-width: 80%;
}