input[type=button], input[type=submit], input[type=reset] {
    background-color: #91c7ca;
    border: 2px black solid;
    border-radius: 7px;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 60px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  button{
  background-color: #91c7ca;
  border: 2px black solid;
  border-radius: 7px;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 60px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  }

  button:hover{
      background-color: black;
      color: #91c7ca;
      transition: 0.5s;
  }